# Objective
- Find the average price of the top **4 competitors** across 3 product categories: **Fragrance**, **Makeup**, **Skincare**

# Tasks
1. Reclassify the product categories into the 3 main categories. Coversion table is given beforehand
2. Find the top 4 competitors based on the total number of fragrance, makeup and skincare products
3. Exclude all products that contains the ingredients 'toluene'
4. Convert all price to USD for comparasion and calculation
5. Summarize the average price of 4 competitors as a DataFrame

# Imports

In [60]:
import pandas as pd
import numpy as np

# Load Data

In [61]:
cosmetics_df = pd.read_csv('datasets/cosmetics.csv')
ingredient_df = pd.read_csv('datasets/ingredients.txt', sep = '\t')
category_df = pd.read_csv('datasets/categories.csv')

# Exploratory Data Analysis

In [62]:
cosmetics_df.head()

,id,brand,category,name,size,price,rating,how_to_use,online_only,limited_edition
0,2218774,Acqua Di Parma,Perfume,Blu Mediterraneo MINIATURE Set,5 x 0.16oz/5mL,USD 66,4.0,Suggested Usage:-Fragrance is intensified by t...,1,0
1,2044816,Acqua Di Parma,Cologne,Colonia,0.7 oz/ 20 mL,USD 66,4.5,no instructions,1,0
2,1417567,Acqua Di Parma,Perfume,Arancia di Capri,5 oz/ 148 mL,USD 180,4.5,no instructions,1,0
3,1417617,Acqua Di Parma,Perfume,Mirto di Panarea,2.5 oz/ 74 mL,USD 120,4.5,no instructions,1,0
4,2218766,Acqua Di Parma,Perfume,Colonia Miniature Set,5 x 0.16oz/5mL,USD 72,3.5,Suggested Usage:-Fragrance is intensified by t...,1,0

In [63]:
ingredient_df.head()

   product_id                                        ingredients
0     2218774  Arancia di Capri Eau de Toilette: Alcohol Dena...
1     2044816                                            unknown
2     1417567  Alcohol Denat.- Water- Fragrance- Limonene- Li...
3     1417617                                            unknown
4     2218766  Colonia: Alcohol Denat.- Water- Fragrance- Lim...

In [64]:
category_df.head()

   sub_category broad_category
0       Perfume      Fragrance
1       Cologne      Fragrance
2  Eye Palettes         Makeup
3      Lipstick         Makeup
4   Highlighter         Makeup

We can see that the `cosmetics_df` can be join with the `ingredient_df` on the `id` and `product_id` columns, and with the `category_df` on the `category` and `sub_category` columns.

As the task does not require some of the `cosmetics_df` columns, we will remove them so that the dimension of the joined DataFrame won't be too big.

In [65]:
cosmetics_df.drop(['size', 'rating', 'how_to_use', 'online_only', 'limited_edition'], axis = 1 , inplace = True)
cosmetics_df.head()

        id           brand category                            name    price
0  2218774  Acqua Di Parma  Perfume  Blu Mediterraneo MINIATURE Set   USD 66
1  2044816  Acqua Di Parma  Cologne                         Colonia   USD 66
2  1417567  Acqua Di Parma  Perfume                Arancia di Capri  USD 180
3  1417617  Acqua Di Parma  Perfume                Mirto di Panarea  USD 120
4  2218766  Acqua Di Parma  Perfume           Colonia Miniature Set   USD 72

In [66]:
cosmetics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8632 entries, 0 to 8631
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        8632 non-null   int64
 1   brand     8632 non-null   object
 2   category  8632 non-null   object
 3   name      8632 non-null   object
 4   price     8632 non-null   object
dtypes: int64(1), object(4)
memory usage: 337.3+ KB

In [67]:
cosmetics_df['brand'].unique()

array(['Acqua Di Parma', 'acqua di parma', 'ACQUA DI PARMA',
       'Acqua di parma', 'Aerin', 'AERIN', 'aerin', 'Algenist',
       'ALGENIST', 'algenist', 'ALPHA-H', 'Alpha-H', 'alterna haircare',
       'ALTERNA Haircare', 'Alterna haircare', 'ALTERNA HAIRCARE',
       'Alterna Haircare', 'Amika', 'amika', 'AMIKA', 'amorepacific',
       'AMOREPACIFIC', 'Amorepacific', 'Anastasia Beverly Hills',
       'Anastasia beverly hills', 'anastasia beverly hills',
       'ANASTASIA BEVERLY HILLS', 'Anthony', 'ANTHONY', 'Armani Beauty',
       'ARMANI BEAUTY', 'armani beauty', 'Armani beauty',
       'The Art of Shaving', 'the art of shaving', 'The Art Of Shaving',
       'THE ART OF SHAVING', 'Artis', 'artis', 'ARTIS', 'Atelier Cologne',
       'Atelier cologne', 'ATELIER COLOGNE', 'atelier cologne',
       'bareminerals', 'bareMinerals', 'Bareminerals', 'BAREMINERALS',
       'Beautybio', 'beautybio', 'BeautyBio', 'BEAUTYBIO',
       'Beautyblender', 'beautyblender', 'BEAUTYBLENDER', 'BECCA',
       'Becca', 'becca', 'belif', 'Belif', 'BELIF', 'Benefit Cosmetics',
       'BENEFIT COSMETICS', 'benefit cosmetics', 'Benefit cosmetics',
       'BERDOUES', 'berdoues', 'Berdoues', 'BETTER NOT YOUNGER',
       'Better Not Younger', 'Bio Ionic', 'BIO IONIC', 'Biossance',
       'BIOSSANCE', 'biossance', 'Bite Beauty', 'BITE BEAUTY',
       'Bite beauty', 'bite beauty', 'Bobbi Brown', 'bobbi brown',
       'BOBBI BROWN', 'Bobbi brown', 'boscia', 'Boscia', 'BOSCIA',
       'Briogeo', 'BRIOGEO', 'briogeo', 'Bumble And Bumble',
       'BUMBLE AND BUMBLE', 'Bumble and bumble', 'bumble and bumble',
       'BURBERRY', 'burberry', 'Burberry', 'BVLGARI', 'Bvlgari',
       'bvlgari', 'By Rosie Jane', 'by rosie jane', 'By rosie jane',
       'BY ROSIE JANE', 'Capri Blue', 'CAPRI BLUE', 'capri blue',
       'Carolina Herrera', 'carolina herrera', 'CAROLINA HERRERA',
       'Caudalie', 'caudalie', 'CAUDALIE', 'Chanel', 'CHANEL', 'chanel',
       'Charlotte Tilbury', 'CHARLOTTE TILBURY', 'Charlotte tilbury',
       'charlotte tilbury', 'Chloé', 'CHLOÉ', 'chloé',
       'Christian louboutin', 'Christian Louboutin',
       'christian louboutin', 'Christophe robin', 'Christophe Robin',
       'christophe robin', 'CHRISTOPHE ROBIN', 'ciaté london',
       'Ciaté London', 'Ciaté london', 'Cinema Secrets', 'cinema secrets',
       'Clarins', 'CLARINS', 'clarins', 'Clarisonic Skincare',
       'Clarisonic skincare', 'CLARISONIC SKINCARE', 'Clean Reserve',
       'CLEAN RESERVE', 'Clean reserve', 'clean reserve', 'CLINIQUE',
       'clinique', 'Clinique', 'COOLA', 'coola', 'Coola', 'COVER FX',
       'cover fx', 'Cover Fx', 'Deborah Lippmann', 'deborah lippmann',
       'DEBORAH LIPPMANN', 'Deborah lippmann', 'dermalogica',
       'Dermalogica', 'DERMALOGICA', 'DevaCurl', 'DEVACURL', 'Devacurl',
       'devacurl', 'Dior', 'dior', 'DIOR', 'DOLCE&GABBANA',
       'dolce&gabbana', 'Dolce&gabbana', 'Dolce&Gabbana', 'Dphue',
       'dpHUE', 'DPHUE', 'dphue', "Dr Roebuck's", "Dr roebuck's",
       "dr roebuck's", 'dr. barbara sturm', 'Dr. Barbara Sturm',
       'DR. BARBARA STURM', 'Dr. barbara sturm', 'Dr. Brandt Skincare',
       'dr. brandt skincare', 'Dr. brandt skincare',
       'DR. BRANDT SKINCARE', 'Dr. Dennis Gross Skincare',
       'dr. dennis gross skincare', 'Dr. dennis gross skincare',
       'DR. DENNIS GROSS SKINCARE', 'Dr. Jart+', 'DR. JART+', 'dr. jart+',
       'Dr. jart+', 'Drunk Elephant', 'Drunk elephant', 'drunk elephant',
       'DRUNK ELEPHANT', 'DRYBAR', 'Drybar', 'drybar', 'Edible Beauty',
       'edible beauty', 'EDIBLE BEAUTY', 'ellis brooklyn',
       'ELLIS BROOKLYN', 'Ellis brooklyn', 'Ellis Brooklyn', 'Erborian',
       'erborian', 'ERBORIAN', 'Erno Laszlo', 'Erno laszlo',
       'erno laszlo', 'ERNO LASZLO', 'estée lauder', 'Estée Lauder',
       'ESTÉE LAUDER', 'Estée lauder', 'EVE LOM', 'eve lom', 'Eve Lom',
       'Eve lom', 'Farmacy', 'FARMACY', 'farmacy', 'FARSÁLI', 'Farsáli',
       'farsáli', 'FENTY BEAUTY by Rihanna', 'Fenty beauty by rihanna',
       'Fenty Beauty By Rihanna', 'FENTY BEAUTY BY RIHANNA',
       'fenty beauty by rihanna', 'First Aid Beauty', 'FIRST AID BEAUTY',
       'first aid beauty', 'First aid beauty', 'Floral Street',
       'Floral street', 'FLORAL STREET', 'floral street', 'FOREO',
       'Foreo', 'foreo', 'Form', 'FORM', 'form', 'Fresh', 'fresh',
       'FRESH', 'GHD', 'ghd', 'Ghd', 'Givenchy', 'givenchy', 'GIVENCHY',
       'GLAMGLOW', 'glamglow', 'Glamglow', 'glow recipe', 'Glow Recipe',
       'GLOW RECIPE', 'goop', 'Goop', 'GOOP', 'grande cosmetics',
       'Grande Cosmetics', 'GRANDE COSMETICS', 'Grande cosmetics',
       'gucci', 'Gucci', 'GUCCI', 'Guerlain', 'GUERLAIN', 'guerlain',
       'herbivore', 'Herbivore', 'HERBIVORE', 'HERMÈS', 'Hermès',
       'hermès', 'Hourglass', 'hourglass', 'HOURGLASS', 'HUDA BEAUTY',
       'Huda Beauty', 'Huda beauty', 'huda beauty', 'HUM Nutrition',
       'Hum nutrition', 'Hum Nutrition', 'hum nutrition', 'IGK', 'Igk',
       'igk', 'Ilia', 'ILIA', 'ilia', 'Inc.redible', 'INC.redible',
       'Inc.Redible', 'inc.redible', 'Indie Lee', 'indie lee',
       'The INKEY List', 'The Inkey List', 'the inkey list',
       'The inkey list', 'THE INKEY LIST', 'innisfree', 'Innisfree',
       'INNISFREE', 'Isle of Paradise', 'isle of paradise',
       'Isle Of Paradise', 'it cosmetics', 'It cosmetics', 'IT Cosmetics',
       'It Cosmetics', 'IT COSMETICS', 'Jack black', 'jack black',
       'JACK BLACK', 'Jack Black', 'Jo Malone London', 'jo malone london',
       'Jo malone london', 'JO MALONE LONDON', 'Josie Maran',
       'josie maran', 'JOSIE MARAN', 'Josie maran', 'Jouer Cosmetics',
       'jouer cosmetics', 'JOUER COSMETICS', 'Juicy Couture',
       'JUICY COUTURE', 'Juliette Has a Gun', 'JULIETTE HAS A GUN',
       'Juliette Has A Gun', 'Juliette has a gun', 'juliette has a gun',
       'Kaja', 'KAJA', 'kaja', 'Kate Somerville', 'KATE SOMERVILLE',
       'kate somerville', 'Kate somerville', 'KENZOKI', 'kenzoki',
       'Kenzoki', 'Kérastase', 'KÉRASTASE', 'kérastase', 'Kevyn aucoin',
       'KEVYN AUCOIN', 'Kevyn Aucoin', 'kevyn aucoin',
       "Kiehl's Since 1851", "KIEHL'S SINCE 1851", "Kiehl'S Since 1851",
       "Kiehl's since 1851", "kiehl's since 1851", 'kilian', 'Kilian',
       'KILIAN', 'Kitsch', 'KITSCH', 'kitsch', 'klorane', 'Klorane',
       'KLORANE', 'Kopari', 'kopari', 'KOPARI', 'KORA Organics',
       'KORA ORGANICS', 'Kora organics', 'kora organics', 'Korres',
       'KORRES', 'korres', 'kvd vegan beauty', 'Kvd vegan beauty',
       'KVD Vegan Beauty', 'KVD VEGAN BEAUTY', 'Kvd Vegan Beauty',
       "L'Occitane", "L'occitane", "L'OCCITANE", "l'occitane", 'La Mer',
       'La mer', 'LA MER', 'la mer', 'Lab Series For Men',
       'Lab series for men', 'lab series for men', 'LAB SERIES FOR MEN',
       'LANCER Skincare', 'Lancer Skincare', 'LANCER SKINCARE',
       'lancer skincare', 'Lancer skincare', 'lancôme', 'LANCÔME',
       'Lancôme', 'laneige', 'Laneige', 'LANEIGE', 'Laura Mercier',
       'LAURA MERCIER', 'Laura mercier', 'laura mercier', 'LAWLESS',
       'Lawless', 'lilah b.', 'LILAH B.', 'Lilah b.', 'Lilly Lashes',
       'Lilly lashes', 'Living Proof', 'living proof', 'LIVING PROOF',
       'Living proof', 'MAISON LOUIS MARIE', 'maison louis marie',
       'Maison Louis Marie', 'Maison louis marie', 'Maison Margiela',
       'MAISON MARGIELA', 'Maison margiela', 'maison margiela',
       'Make up for ever', 'MAKE UP FOR EVER', 'Make Up For Ever',
       'make up for ever', 'Marc Jacobs Beauty', 'MARC JACOBS BEAUTY',
       'Marc jacobs beauty', 'marc jacobs beauty',
       'Marc Jacobs Fragrances', 'MARC JACOBS FRAGRANCES',
       'Marc jacobs fragrances', 'marc jacobs fragrances',
       'Mario Badescu', 'MARIO BADESCU', 'mario badescu', 'Mario badescu',
       'Marvis', 'Melt Cosmetics', 'MELT COSMETICS', 'Melt cosmetics',
       'melt cosmetics', 'Michael Kors', 'michael kors', 'Michael kors',
       'MILK MAKEUP', 'milk makeup', 'Milk makeup', 'Milk Makeup',
       'Miu Miu', 'Miu miu', 'miu miu', 'Mizani', 'MIZANI', 'MOON JUICE',
       'Moon Juice', 'Moon juice', 'moon juice', 'Moroccanoil',
       'MOROCCANOIL', 'moroccanoil', 'Mount Lai', 'MOUNT LAI',
       'Mount lai', 'mount lai', 'MURAD', 'Murad', 'murad', 'NAILS INC.',
       'Nails inc.', 'nails inc.', 'Nails Inc.', 'NARS', 'nars', 'Nars',
       'Natasha Denona', 'natasha denona', 'NATASHA DENONA',
       'Natasha denona', 'Naturally Serious', 'Naturally serious',
       'NEST New York', 'nest new york', 'Nest New York', 'Nest new york',
       'NEST NEW YORK', 'NUDESTIX', 'Nudestix', 'nudestix', 'NUFACE',
       'Nuface', 'NuFACE', 'nuface', 'O&M', 'o&m', 'O&m', 'Olehenriksen',
       'OLEHENRIKSEN', 'olehenriksen', 'Omorovicza', 'OMOROVICZA',
       'omorovicza', 'The Ordinary', 'THE ORDINARY', 'the ordinary',
       'The ordinary', 'Origins', 'ORIGINS', 'origins', 'Ouai', 'OUAI',
       'Overose', 'overose', 'OVEROSE', 'PAT McGRATH LABS',
       'Pat mcgrath labs', 'PAT MCGRATH LABS', 'pat mcgrath labs',
       'Pat Mcgrath Labs', 'Patrick ta', 'PATRICK TA', 'patrick ta',
       'Patrick Ta', 'Perricone MD', 'PERRICONE MD', 'Perricone md',
       'Perricone Md', 'perricone md', 'Peter Thomas Roth',
       'PETER THOMAS ROTH', 'Peter thomas roth', 'peter thomas roth',
       'philosophy', 'Philosophy', 'PHILOSOPHY', 'PHLUR', 'Phlur',
       'phlur', 'PINROSE', 'pinrose', 'Pinrose', 'Prada', 'prada',
       'PRADA', 'pretty vulgar', 'Pretty Vulgar', 'PRETTY VULGAR',
       'Pretty vulgar', 'Primera', 'primera', 'PRIMERA', 'Proactiv',
       'proactiv', 'PROACTIV', 'Qhemet Biologics', 'qhemet biologics',
       'Rahua', 'RAHUA', 'rahua', 'Ralph Lauren', 'RALPH LAUREN',
       'Ralph lauren', 'ralph lauren', 'Ren Clean Skincare',
       'Ren clean skincare', 'REN Clean Skincare', 'REN CLEAN SKINCARE',
       'ren clean skincare', 'Rms beauty', 'rms beauty', 'RMS BEAUTY',
       'Rossano Ferretti Parma', 'Rossano ferretti parma',
       'rossano ferretti parma', 'ROSSANO FERRETTI PARMA', 'sachajuan',
       'Sachajuan', 'Saturday Skin', 'SATURDAY SKIN', 'saturday skin',
       'Saturday skin', 'seed phytonutrients', 'Seed Phytonutrients',
       'Seed phytonutrients', 'SEPHORA COLLECTION', 'sephora collection',
       'Sephora collection', 'Sephora Collection', 'Sephora Favorites',
       'sephora favorites', 'SEPHORA FAVORITES', 'Shiseido', 'SHISEIDO',
       'shiseido', 'shu uemura', 'Shu Uemura', 'SHU UEMURA', 'Shu uemura',
       'Sk-Ii', 'Sk-ii', 'sk-ii', 'SK-II', 'Skinfix', 'SKINFIX',
       'skinfix', 'SKYLAR', 'Skylar', 'skylar', 'Slip', 'slip',
       'Smashbox', 'smashbox', 'SMASHBOX', 'Sol de Janeiro',
       'Sol de janeiro', 'SOL DE JANEIRO', 'sol de janeiro', 'St. Tropez',
       'st. tropez', 'ST. TROPEZ', 'St. tropez', 'STELLAR', 'Stellar',
       'stellar', 'Sulwhasoo', 'sulwhasoo', 'SULWHASOO', 'SUNDAY RILEY',
       'Sunday Riley', 'sunday riley', 'Sunday riley', 'Supergoop!',
       'supergoop!', 'SUPERGOOP!', 'surratt beauty', 'SURRATT BEAUTY',
       'Surratt Beauty', 'Surratt beauty', 'T3', 't3', 'TAN-LUXE',
       'Tan-luxe', 'tarte', 'TARTE', 'Tarte', 'Tata harper',
       'Tata Harper', 'tata harper', 'TATA HARPER', 'Tatcha', 'tatcha',
       'TATCHA', 'tocca', 'TOCCA', 'Tocca', 'Together Beauty',
       'Together beauty', 'TOGETHER BEAUTY', 'TOM FORD', 'tom ford',
       'Tom Ford', 'Tom ford', 'Too Faced', 'too faced', 'Too faced',
       'TOO FACED', 'Tory Burch', 'TORY BURCH', 'TWEEZERMAN',
       'Tweezerman', 'tweezerman', 'Urban Decay', 'URBAN DECAY',
       'Urban decay', 'urban decay', 'VELOUR LASHES', 'velour lashes',
       'Velour Lashes', 'Velour lashes', 'verb', 'Verb', 'VERB',
       'Versace', 'versace', 'VERSACE', 'Viktor&Rolf', 'VIKTOR&ROLF',
       'Viktor&rolf', 'viktor&rolf', 'Violet Voss', 'Violet voss',
       'violet voss', 'virtue', 'Virtue', 'VIRTUE', 'VISEART', 'viseart',
       'Viseart', 'Vital Proteins', 'Vital proteins', 'VITAL PROTEINS',
       'Vitruvi', 'vitruvi', 'VITRUVI', 'Volition Beauty',
       'Volition beauty', 'volition beauty', 'VOLUSPA', 'Voluspa',
       'voluspa', 'Wander Beauty', 'WANDER BEAUTY', 'wander beauty',
       'Wander beauty', 'Youth To The People', 'youth to the people',
       'Youth to the people', 'Yves Saint Laurent', 'Yves saint laurent',
       'YVES SAINT LAURENT', 'yves saint laurent', 'The 7 Virtues',
       'the 7 virtues', 'THE 7 VIRTUES'], dtype=object)

Many brand names are inputted into the dataset with different typing. We will convert all brand names to lower case so that it's easier to correctly summarize.

In [68]:
cosmetics_df['brand'] = cosmetics_df['brand'].str.lower()
cosmetics_df['brand'].unique()

array(['acqua di parma', 'aerin', 'algenist', 'alpha-h',
       'alterna haircare', 'amika', 'amorepacific',
       'anastasia beverly hills', 'anthony', 'armani beauty',
       'the art of shaving', 'artis', 'atelier cologne', 'bareminerals',
       'beautybio', 'beautyblender', 'becca', 'belif',
       'benefit cosmetics', 'berdoues', 'better not younger', 'bio ionic',
       'biossance', 'bite beauty', 'bobbi brown', 'boscia', 'briogeo',
       'bumble and bumble', 'burberry', 'bvlgari', 'by rosie jane',
       'capri blue', 'carolina herrera', 'caudalie', 'chanel',
       'charlotte tilbury', 'chloé', 'christian louboutin',
       'christophe robin', 'ciaté london', 'cinema secrets', 'clarins',
       'clarisonic skincare', 'clean reserve', 'clinique', 'coola',
       'cover fx', 'deborah lippmann', 'dermalogica', 'devacurl', 'dior',
       'dolce&gabbana', 'dphue', "dr roebuck's", 'dr. barbara sturm',
       'dr. brandt skincare', 'dr. dennis gross skincare', 'dr. jart+',
       'drunk elephant', 'drybar', 'edible beauty', 'ellis brooklyn',
       'erborian', 'erno laszlo', 'estée lauder', 'eve lom', 'farmacy',
       'farsáli', 'fenty beauty by rihanna', 'first aid beauty',
       'floral street', 'foreo', 'form', 'fresh', 'ghd', 'givenchy',
       'glamglow', 'glow recipe', 'goop', 'grande cosmetics', 'gucci',
       'guerlain', 'herbivore', 'hermès', 'hourglass', 'huda beauty',
       'hum nutrition', 'igk', 'ilia', 'inc.redible', 'indie lee',
       'the inkey list', 'innisfree', 'isle of paradise', 'it cosmetics',
       'jack black', 'jo malone london', 'josie maran', 'jouer cosmetics',
       'juicy couture', 'juliette has a gun', 'kaja', 'kate somerville',
       'kenzoki', 'kérastase', 'kevyn aucoin', "kiehl's since 1851",
       'kilian', 'kitsch', 'klorane', 'kopari', 'kora organics', 'korres',
       'kvd vegan beauty', "l'occitane", 'la mer', 'lab series for men',
       'lancer skincare', 'lancôme', 'laneige', 'laura mercier',
       'lawless', 'lilah b.', 'lilly lashes', 'living proof',
       'maison louis marie', 'maison margiela', 'make up for ever',
       'marc jacobs beauty', 'marc jacobs fragrances', 'mario badescu',
       'marvis', 'melt cosmetics', 'michael kors', 'milk makeup',
       'miu miu', 'mizani', 'moon juice', 'moroccanoil', 'mount lai',
       'murad', 'nails inc.', 'nars', 'natasha denona',
       'naturally serious', 'nest new york', 'nudestix', 'nuface', 'o&m',
       'olehenriksen', 'omorovicza', 'the ordinary', 'origins', 'ouai',
       'overose', 'pat mcgrath labs', 'patrick ta', 'perricone md',
       'peter thomas roth', 'philosophy', 'phlur', 'pinrose', 'prada',
       'pretty vulgar', 'primera', 'proactiv', 'qhemet biologics',
       'rahua', 'ralph lauren', 'ren clean skincare', 'rms beauty',
       'rossano ferretti parma', 'sachajuan', 'saturday skin',
       'seed phytonutrients', 'sephora collection', 'sephora favorites',
       'shiseido', 'shu uemura', 'sk-ii', 'skinfix', 'skylar', 'slip',
       'smashbox', 'sol de janeiro', 'st. tropez', 'stellar', 'sulwhasoo',
       'sunday riley', 'supergoop!', 'surratt beauty', 't3', 'tan-luxe',
       'tarte', 'tata harper', 'tatcha', 'tocca', 'together beauty',
       'tom ford', 'too faced', 'tory burch', 'tweezerman', 'urban decay',
       'velour lashes', 'verb', 'versace', 'viktor&rolf', 'violet voss',
       'virtue', 'viseart', 'vital proteins', 'vitruvi',
       'volition beauty', 'voluspa', 'wander beauty',
       'youth to the people', 'yves saint laurent', 'the 7 virtues'],
      dtype=object)

The `price` columns consists of both the currenct and the actual price. We will split into 2 columns and cast the `price` columns as float.

In [69]:
cosmetics_df[['currency', 'price']] = cosmetics_df['price'].str.split(expand = True)
cosmetics_df['price'] = cosmetics_df['price'].astype('float')
cosmetics_df.head()

,id,brand,category,name,price,currency
0,2218774,acqua di parma,Perfume,Blu Mediterraneo MINIATURE Set,66.0,USD
1,2044816,acqua di parma,Cologne,Colonia,66.0,USD
2,1417567,acqua di parma,Perfume,Arancia di Capri,180.0,USD
3,1417617,acqua di parma,Perfume,Mirto di Panarea,120.0,USD
4,2218766,acqua di parma,Perfume,Colonia Miniature Set,72.0,USD

In [70]:
cosmetics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8632 entries, 0 to 8631
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        8632 non-null   int64
 1   brand     8632 non-null   object
 2   category  8632 non-null   object
 3   name      8632 non-null   object
 4   price     8632 non-null   float64
 5   currency  8632 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 404.8+ KB

In [71]:
ingredient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8632 entries, 0 to 8631
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   8632 non-null   int64
 1   ingredients  8632 non-null   object
dtypes: int64(1), object(1)
memory usage: 135.0+ KB

In [72]:
category_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sub_category    17 non-null     object
 1   broad_category  17 non-null     object
dtypes: object(2)
memory usage: 400.0+ bytes